.header-wrapper {
	height: 80px;
	width: 100%;
	background: var(--color-white);
	box-shadow: 0 2px 10px var(--color-grey);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;

	.header {
		height: 100%;
		width: 70%;
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.logo {
			display: flex;
			align-items: center;
			gap: 4rem;
			.__left {
				display: flex;
				align-items: center;
				gap: 1rem;

				span {
					font-size: 1.4rem;
					font-weight: 400;
					display: flex;
					align-items: center;
					cursor: pointer;
					color: var(--color-grey-black);
					.icon {
						color: var(--color-black-link);
						font-size: 2rem;
						font-weight: 600;
					}
					&:first-child {
						font-weight: 700;
						border-bottom: 2px solid var(--color-black-link);
					}
				}
				&:hover {
					& > span {
						.icon {
							color: var(--color-red);
						}
						&:first-child {
							color: var(--color-red);
							border-bottom: 2px solid var(--color-red);
						}
					}
				}
			}
		}

		.nav-links {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 3rem;
			.link {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 7px;
				position: relative;

				.item {
					position: absolute;
					top: 50%;
					left: 5px;
					transform: translate(0, -50%);
					color: var(--color-black-link);
					font-size: 1.4rem;
					font-weight: 600;
				}

				.icon {
					stroke: var(--color-black-link);
					stroke-width: 0;
					fill: var(--color-black-link);
				}

				span {
					font-size: 1.6rem;
					font-weight: 600;
					color: var(--color-black-link);
				}

				&:hover {
					.icon {
						fill: var(--color-red);
					}
					.cart {
						stroke: var(--color-red);
					}
					span {
						color: var(--color-red);
					}
				}
			}
		}
	}
}
