@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap');

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--color-red: #fc8019;
	--color-black: #343a40;
	--color-black-link: #3d4152;
	--color-white: #ffffff;
	--color-grey: #f2f2f2;
	--color-grey-black: #686b78;
	--color-dark-grey: #d3d3d3;
}

html {
	font-size: 62.5%;
	font-family: 'Figtree', sans-serif;
}

a {
	text-decoration: none;
	color: var(--color-black-link);
}
